.aboutParagraph {
  color: #673ab7;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bolder;
  font-size: large;
}

.aboutParagraphFirst {
  padding-top: 20px;
}

.aboutParagraphLast {
  padding-bottom: 30px;
}

.aboutImage {
  display: block;
  margin: auto;
  width: 80%;
  background-color: white;
}
