.ul-NavBar {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #00bcd4;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: left;
}

.li-NavBar {
  float: left;
}

.li-NavBar:last-child {
  border-right: none;
}

.nav-NavBar {
  display: block;
  padding: 20px 20px 20px 30px;
  text-decoration: none;
}

.nav-NavBar:hover {
  background-color: #ffeb3b;
}

.link-NavBar {
  text-decoration: none;
  color: #673ab7;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #673ab7;
}

a:visited {
  text-decoration: underline;
  color: #673ab7;
}

a:hover {
  text-decoration: underline;
  color: #673ab7;
}

a:active {
  text-decoration: underline;
  color: #673ab7;
}
