.ul-NavBar {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #00bcd4;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: cursive;
  position: fixed;
  min-width: 100%;
}

.li-NavBar {
  float: left;
}

.li-NavBar:last-child {
  border-right: none;
}

.nav-NavBar {
  display: block;
  padding: 20px 20px 20px 30px;
  text-decoration: none;
}

.nav-NavBar:hover {
  background-color: #ffeb3b;
}

.link-NavBar {
  text-decoration: none;
  color: #673ab7;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #673ab7;
}

a:visited {
  text-decoration: underline;
  color: #673ab7;
}

a:hover {
  text-decoration: underline;
  color: #673ab7;
}

a:active {
  text-decoration: underline;
  color: #673ab7;
}

.Image-NavBar {
  background-image: url("../../../public/shoeRackTrans.png");
  background-repeat: repeat;
  background-position: center top;
  height: 250px;
  line-height: 200px;
  text-align: center;
  border: 1px solid #ff5722;
}

.Header-NavBar {
  color: #ff5722;
  display: inline-block;
  vertical-align: bottom;
  line-height: normal;
  font-size: 3.5em;
}
