.Grid-Shoes {
  width: 85%;
  margin: 0 auto;
}

.Col-Shoes {
  font-weight: bold;
  color: #673ab7;
  font-size: normal;
  margin: auto;
  width: 30%;
}

.Image-Shoes {
  position: relative;
  height: 300px;
  max-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.header-Shoes {
  font-weight: bold;
  color: #ff5722;
}

.italics-Shoes {
  font-style: italic;
}
